<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaterialSkinExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

    <userSettings>
        <MaterialSkinExample.Properties.Settings>
            <setting name="darkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="premium" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="accessToken" serializeAs="String">
                <value>token</value>
            </setting>
            <setting name="maxRamUsage" serializeAs="String">
                <value>2GB</value>
            </setting>
            <setting name="fullScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="windowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="windowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="uuid" serializeAs="String">
                <value />
            </setting>
        </MaterialSkinExample.Properties.Settings>
    </userSettings>
</configuration>

